

.copy {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: x-small
}

.icon-button {
    color: #fff
}

.col {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.col,
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.row {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

a {
    text-decoration: none
}

.accent {
    color: #ff4081
}

.accent.secondary {
    color: #ff80ab
}

.space-letter {
    padding-right: .3em
}

.nowrap {
    white-space: nowrap
}

a.accent:hover {
    color: #f50057
}

a.btn:hover {
    background-color: #fff8e1;
    color: #ff4081
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.primary {
    color: rgba(0, 0, 0, .87)
}

.secondary {
    color: rgba(0, 0, 0, .54)
}

.logo-text {
    pointer-events: none;
    padding: 8px;
    font-family: Trebuchet MS, Trebuchet, Verdana;
    font-weight: 900;
    font-size: 22px
}

.error {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 310px;
    color: #ff80ab;
    text-align: justify
}

.error a {
    font-size: large;
    color: #551a8b
}

@media print {

    .no-print,
    .no-print * {
        display: none !important
    }
}

.open-sidebar {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px
}
.toolbar-transition {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.toolbar-enter,
.toolbar-leave {
    -webkit-transform: translate(408px);
    transform: translate(408px)
}

.graph-overview {
    height: 100%;
    width: 408px;
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;
    -webkit-overflow-scrolling: touch
}

.graph-overview .close-panel {
    display: inline-block;
    height: 32px;
    float: right;
    padding-top: 3px;
    margin-right: -18px;
    width: 55px;
    text-align: center;
    color: rgba(0, 0, 0, .87)
}

.graph-overview .close-panel:hover {
    color: #ff4081
}

.graph-overview .header {
    background: #fff;
    padding: 10px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    height: 80px
}

.graph-overview .header h2 {
    margin: 0 0 8px;
    font-weight: 400
}

.graph-overview .header .sort-method {
    padding-left: 8px
}

.graph-overview .sort-results {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto
}

.graph-overview .product-image {
    padding-right: 10px
}

.graph-overview .product-details {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.graph-overview img.cover {
    width: 60px;
    height: auto
}

.graph-overview h3 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    max-height: 38px;
    overflow: hidden
}

.graph-overview ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.graph-overview li {
    color: rgba(0, 0, 0, .87);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
    padding: 10px 18px;
    height: 112px;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.graph-overview li.js-hover,
.graph-overview li:focus,
.graph-overview li:hover {
    background-color: #fff8e1
}

.list-results {
    position: fixed;
    right: 0;
    top: 8px;
    background: #fff;
    color: rgba(0, 0, 0, .87);
    font-size: 42px;
    width: 35px;
    text-align: center
}

.list-results .label {
    display: none
}

@media (max-width:500px) {
    .graph-overview {
        width: 100%
    }

    .toolbar-enter,
    .toolbar-leave {
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh)
    }

    .list-results {
        left: 0;
        right: 0;
        top: inherit;
        clor: #ff4081;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 42px;
        width: 100%
    }

    .list-results .label {
        display: inline-block;
        padding-left: 8px;
        font-size: 18px
    }
}

.product-cover {
    text-align: center
}

.mini-header {
    position: fixed;
    height: 80px;
    z-index: 1;
    width: 408px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.mini-header .tiny-link {
    display: none
}

.mini-header .mini-details {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin: 8px
}

.mini-header .mini-details h4 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 0 7px;
    overflow: hidden;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mini-header .mini-details .description {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 36px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mini-header .mini-details .description .buy-btn {
    margin: 0 0 0 10px;
    width: 180px
}

.mini-header img.cover {
    height: 80px;
    width: auto;
    box-shadow: none
}

.details-container {
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 408px;
    position: absolute;
    right: 0;
    z-index: 2;
    background: #fff;
    -webkit-overflow-scrolling: touch
}

.details-container .central-block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden
}

.details-container .actions {
    border-top: 1px solid rgba(0, 0, 0, .12);
    text-align: center;
    background: #fff;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.details-container .actions a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px
}

.details-container .actions a.primary {
    border-right: 1px solid rgba(0, 0, 0, .12)
}

.details-container .buy-btn {
    margin: 10px
}

.details-container .shop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
    background: linear-gradient(180deg, #f7dfa5, #f0c14b)
}

.details-container .shop-btn img {
    padding: 0 3px
}

.details-container .shop-btn div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: -32px;
    text-align: center
}

.details-container .attributes-container {
    padding: 0 10px
}

.details-container .attributes-container .product-title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 400
}

.details-container .cover-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.details-container .customer-reviews {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow-y: auto;
    margin-top: 80px
}

.details-container .customer-reviews iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute
}

.expand-transition {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.expand-enter,
.expand-leave {
    opacity: 0
}

img.cover {
    width: auto;
    height: 500px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

@media (min-width:1600px) {
    .details-container.list-open {
        right: 408px;
        z-index: 1
    }
}

@media (max-width:670px) {

    .details-container,
    .mini-header {
        width: 100%
    }

    .cover-container {
        float: left;
        padding: 10px 16px 10px 10px
    }

    .cover-container img.cover {
        height: 300px
    }
}

@media (max-width:500px) {
    .cover-container {
        float: none;
        padding: 0
    }
}

@media (max-width:500px) {

    .details-container,
    .mini-header {
        width: 100%
    }

    .cover-container {
        float: none;
        padding: 0
    }
}

@media (max-height:600px) {
    img.cover {
        height: 300px
    }
}

@media (max-height:320px) {
    img.cover {
        height: 150px
    }

    .mini-header,
    .mini-header img.cover {
        height: 40px
    }

    .mini-header .tiny-link {
        display: inline-block
    }
}

.price-label {
    margin-right: 4px
}

.price-container {
    -ms-grid-row-align: stretch
}

.price-container,
.price-link {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.price-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.attr-name,
.price-label {
    color: rgba(0, 0, 0, .54)
}

.item-nodes {
    margin-top: 7px
}

.item-nodes a {
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 4px;
    border: 1px dashed #f50057
}

.item-nodes a:hover {
    background-color: #ff4081;
    color: #fff
}

.section-title[_v-59f5ff74] {
    padding-left: 14px
}

ul[_v-59f5ff74] {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul img.cover[_v-59f5ff74] {
    width: 60px;
    height: auto
}

ul li[_v-59f5ff74] {
    color: rgba(0, 0, 0, .87);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
    padding: 10px 18px;
    height: 112px;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

ul li.js-hover[_v-59f5ff74],
ul li[_v-59f5ff74]:focus,
ul li[_v-59f5ff74]:hover {
    background-color: #fff8e1
}

ul .product-details[_v-59f5ff74] {
    padding-left: 10px
}

svg {
    top: 0;
    width: 100%
}

.graph-container,
svg {
    position: absolute;
    left: 0;
    height: 100%
}

.graph-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0
}

.progress {
    position: fixed;
    top: 70px;
    left: 10px;
    width: 408px
}

.progress h2 {
    font-weight: 400
}

.progress .msg {
    margin-left: 16px
}

.progress .msg,
.progress .spinner {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.progress .spinner {
    width: 32px;
    height: 32px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear
}

.progress .dot1,
.progress .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #ff4081;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out
}

.progress .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes sk-rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes sk-bounce {

    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-bounce {

    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.item-tooltip {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 320px;
    height: 80px;
    background: #fff;
}

.item-tooltip img {
    height: 80px;
    width: auto
}

.tooltip-details {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden
}

.tooltip-details h4 {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    padding: 10px
}

.tooltip-details .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: -webkit-linear-gradient(hsla(0, 0%, 100%, .4), #fff);
    background: linear-gradient(hsla(0, 0%, 100%, .4), #fff)
}

@media (max-width:500px) {
    .item-tooltip {
        right: 0;
        width: inherit
    }
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    color: rgba(0, 0, 0, .38)
}

.menu-transition {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%
}

.menu-transition,
.menu-transition .backdrop,
.menu-transition .global-menu {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.menu-enter,
.menu-leave {
    opacity: .9
}

.menu-enter .backdrop,
.menu-leave .backdrop {
    opacity: 0
}

.menu-enter .global-menu,
.menu-leave .global-menu {
    -webkit-transform: translate(-350px);
    transform: translate(-350px)
}

.backdrop {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .3
}

.global-menu {
    width: 300px;
    background: #fff;
    position: absolute;
    top: 0;
    height: 100%;
    box-shadow: 0 -2px 22px rgba(0, 0, 0, .4)
}

.global-menu .block {
    padding: 10px 0
}

.global-menu .item {
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 18px
}

.global-menu .header {
    height: 52px
}

.global-menu .row-header {
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.global-menu .row-header .logo-text {
    padding-left: 18px
}

.global-menu .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto
}

.global-menu .has-border {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.global-menu .close-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px
}

.windows-container .window {
    z-index: 3;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    background: #fff
}

.windows-container .window .content {
    width: 400px;
    padding: 16px;
    overflow-y: auto;
    min-height: 360px
}

.windows-container .window .header {
    height: 43px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.windows-container .window .header .header-text {
    font-size: 20px;
    padding-left: 16px
}

.windows-container .window .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.windows-container .window .close-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px
}

@media (max-width:500px) {
    .windows-container .window {
        left: 0;
        margin-left: 0;
        height: 100%
    }

    .windows-container .window .content {
        width: 100%
    }
}

.email {
    font-size: 14px;
    line-height: 14px
}